/* styles.css */
body {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1b0232;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #818181;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Sidebar.css */
.openbtn {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
}

/* .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10%;
} */

#main {
    padding: 16px;
}

.hidden {
    display: none;
}

/* Media query for mobile view */
@media screen and (max-width: 600px) {
    .sidebar {
        width: 100%;
        height: 100%;
    }
    #main {
        margin-left: 0;
    }
}
