body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.controls {
    margin-bottom: 20px;
    text-align: center;
}

input,
button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #260446;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #7e61e9;
}

.button-row {
    display: flex;
    justify-content: center;
}

.peek-display {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.stack-container {
    width: 200px;
    height: 350px;
    padding-bottom: 10px;
    border: 2px dashed #9b9595; 
    background-color: white;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-top: none; 
}

#container {
    display: flex;
    flex-direction: column-reverse; 
    justify-content: flex-start;
    height: 100%;
    gap: 5px;
    padding: 5px;
}

.box {
    width: 100%; 
    padding: 10px;
    background-color: #4f0a7a;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    text-align: center;
}

.box.show {
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
    transform: translateY(0); 
}

/* Responsive adjustments */
@media (max-width: 400px) {
    .stack-container {
        width: 100%;
        max-width: 300px; /* Set a max width */
    }
}
